<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="/Content/css/styles.css">
    <title>Add a New Restaurant</title>
  </head>
  <body>
    <div class="container centered-container">
      <form class="form-group" action='/restaurant/success/@Model["restaurant"].GetId()' method="post">
        <input type="hidden" name="_method" value="PATCH">
        <input type="hidden" name="restaurant-id" value='@Model["restaurant"].GetId()'>
        <label for="restaurant-name">Enter Restaurant Name:</label>
        <input type="text" name="restaurant-name" required value='@Model["restaurant"].GetName()'>
        <select name="cuisine-id">
          @foreach (var cuisine in Model["cuisines"])
          {

            if (@Model["restaurant"].GetCuisineId() == cuisine.GetId())
            {
              <option selected="selected" value="@cuisine.GetId()">@cuisine.GetName()</option>
            }
            else
            {
              <option value="@cuisine.GetId()">@cuisine.GetName()</option>
            }
          }
        </select>
        <button class="btn btn-success" type="submit" name="button">Submit</button>
      </form>
    </div>
  </body>
</html>
